.CheckoutSummary {
   text-align: center;
   width: 80%;
   margin: auto;
}
/* commented out to always keep the burger image centered*/
/* @media (min-width: 600px) {
   .CheckoutSummary {
      width: 500px;
   }
} */